@import '../../styles/base/Vars.scss';
@import '../../styles/modules/themes/Colors.scss';
@import '../../styles/modules/themes/Status.scss';
@import '../../styles/modules/themes/Modes.scss';

/*******************************************************
	Styles
*******************************************************/

#homeWrapper {
    position: relative;

    display: grid;
    grid-template-rows: auto 1fr;
    gap: 48px 0;
    width: 100%;
    min-height: 100vh;
    padding: 16px 16px 48px;
    background-color: var(--color-layout-foreground);

    transition: $transition-theme;

    #homeHeader {
        position: sticky;
        top: 0px;

        width: 100%;
        border-radius: 24px;
        background-color: var(--color-theme-colors-p);
        box-shadow: $color-box-shadow-p;

        z-index: 11;
        transition: $transition-theme;

        #homeHeaderContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 12px 32px;
            border-radius: inherit;

            .homeHeaderContent {
                display: flex;

                &.banner {
                    flex-direction: column;

                    h1 {
                        color: var(--color-txt-p);
                        font-size: 32px;
                    }

                    h2 {
                        color: var(--color-txt-s);
                        font-size: 18px;
                        font-style: italic;
                    }

                }

                &.search {
                    flex-direction: row;

                    #homeHeaderSearchBox {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        border-radius: 24px;
                        background-color: rgba(0,0,0,0.2);
                    }

                    input {
                        padding: 12px 24px;
                        background-color: transparent;

                        color: var(--color-disabled-p);
                        font-size: 24px;

                        transition: 0.1s ease-in-out;

                        &::placeholder {
                            color: var(--color-disabled-p);
                        }

                        &:focus, &:hover {
                            color: var(--color-txt-p);

                            &::placeholder {
                                color: var(--color-txt-s);
                            }

                        }

                    }

                    .searchIcon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 54px !important;
                        height: 54px !important;
                        border-radius: 0 24px 24px 0;

                        color: var(--color-disabled-p);

                        transition: 0.1s ease-in-out;
                        cursor: pointer;

                        &:hover {
                            background-color: rgba(0,0,0,0.2);
                            
                            color: var(--color-txt-p);
                        }

                        svg {
                            color: inherit;
                        }

                    }

                }

                &.options {
                    flex-direction: row;

                    #homeHeaderOptionsGroup {
                        display: flex;
                        flex-direction: row;

                        .optionItem {
                            margin-right: 12px;

                            &:last-of-type {
                                margin: 0;
                            }

                            .optionIcon {
                                padding: 12px;
                                border-radius: 50%;

                                color: var(--color-disabled-p);

                                cursor: pointer;
                                transition: 0.1s ease-in-out;

                                &:hover {
                                    background-color: var(--color-action-hover);

                                    color: var(--color-txt-p);
                                }

                                svg {
                                    color: inherit;
                                }

                            }

                        }

                    }

                }

            }

        }

    }

    #homeGrid {
        display: grid;
        grid-template-columns: 360px 1fr 360px;
        gap: 0 64px;
        width: 100%;

        #homeInfoGrid {
            display: grid;
            grid-template-rows: minmax(334px, 1fr) 174px;
            gap: 48px;
            width: 100%;
            height: 100%;

            .homeInfoGridContent {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 0 24px;

                .homeInfos {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    padding: 24px;
                    border-radius: 24px;
                    background-color: var(--color-layout-box);
                    box-shadow: $color-box-shadow-p;

                    transition: $transition-theme;

                    .homeNoReturnContainer {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        span {
                            color: var(--color-txt-p);
                            font-size: 120px;
                        }

                        h3 {
                            margin: 20px 0 4px;

                            color: var(--color-txt-s);
                            font-size: 36px;
                        }

                        h4 {
                            color: var(--color-txt-t);
                            font-size: 20px;
                        }

                    }

                    .homeNoSearchContainer {

                        h3 {
                            width: 300px;

                            color: var(--color-txt-s);
                            font-size: 32px;
                            text-align: center;
                        }

                    }

                    .homeCityContainer {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;

                        h3 {
                            width: 300px;
                            background: -webkit-linear-gradient(45deg, rgba(53,195,34,1) 0%, rgba(253,219,45,1) 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            
                            font-size: 64px;
                            text-align: center;
                        }

                    }

                    .homeLoadContainer {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                    }

                }

                .homeBoxGroup {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    gap: 24px;
                    width: 100%;
                    height: 100%;

                    .homeBox {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        border-radius: 24px;
                        box-shadow: $color-box-shadow-p;

                        transition: $transition-theme;

                        &:nth-child(1){
                            background: rgb(53,195,34);
                            background: linear-gradient(45deg, rgba(53,195,34,1) 0%, rgba(253,219,45,1) 100%);
                        }
    
                        &:nth-child(2){
                            background: rgb(195,34,34);
                            background: linear-gradient(45deg, rgba(195,34,34,1) 0%, rgba(253,202,45,1) 100%);
                        }
    
                        &:nth-child(3){
                            background: rgb(34,72,195);
                            background: linear-gradient(45deg, rgba(34,72,195,1) 0%, rgba(45,253,198,1) 100%);
                        }

                        &:nth-child(4){
                            background: rgb(136,34,195);
                            background: linear-gradient(45deg, rgba(136,34,195,1) 0%, rgba(245,137,137,1) 100%);
                        }

                        &.climaBox {
                            padding: 32px 24px;
    
                            h3 {
                                color: $color-txt-p-lm;
                            }
                            
                        }
    
                        &.errorBox {
                            width: 180px;
                            height: 100%; 
                            background-color: var(--color-layout-box);

                            &:nth-child(1){
                                width: 222px;
                            }
    
                            h3 {
                                color: $color-disabled-p-lm;
                            }

                        }

                        span {
                            color: $color-txt-p-lm;
                            font-size: 64px;
                            font-weight: bold;
                        }

                        h3 {
                            font-size: 24px;
                                font-weight: bold;
                        }
                        
                    }

                }

            }

        }

        #homeHistoryGroup {
            display: flex;
            flex-direction: column;
            width: 100%;

            .homeHistoryBox {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                width: 100%;
                padding: 24px;
                margin-bottom: 24px;
                border-radius: 24px;
                background-color: var(--color-layout-box);
                box-shadow: $color-box-shadow-p;

                transition: $transition-theme;

                &:last-of-type {
                    margin: 0;
                }

                h4 {
                    margin-bottom: 8px;

                    color: var(--color-txt-s);
                    font-size: 20px;
                }

                .historyValues {
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;
                    justify-content: space-between;

                    h5 {
                        font-size: 32px;
                        font-weight: bold;

                        &:nth-of-type(1){
                            background: -webkit-linear-gradient(45deg, rgba(53,195,34,1) 0%, rgba(253,219,45,1) 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;

                            font-size: 48px;
                        }

                        &:nth-of-type(2){
                            background: -webkit-linear-gradient(45deg, rgba(195,34,34,1) 0%, rgba(253,202,45,1) 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }

                        &:nth-of-type(3){
                            background: -webkit-linear-gradient(45deg, rgba(34,72,195,1), rgba(45,253,198,1));
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }

                    }

                }

            }

        }

    }

}